.beat {
  background-color: rgba(0, 0, 0, 0.68);
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  color: white;
  transition: all 0.5s ease;
}

.restBeat {
  color: rgba(0, 0, 0, 0.68);
  background-color: transparent;
}

.green-beat {
  background-color: #449d44;
}

.red-beat {
  background-color: #d9534f;
}

.gray-beat {
  background-color: rgba(0, 0, 0, 0.68);
}

.beat-container.thin .restBeat {
  color: transparent;
}

.beat-container > div {
  height: 20px;
  transition: all 0.5s ease;
  margin-bottom: 25px;
  text-align: left;

  // This is a workaround for numerical imprecisions which can cause an edge
  // case in which the beat bars don't fit in one row.  Instead of wrapping them
  // we force them to render in one row even if this means a overflow of a few
  // pixels.
  white-space: nowrap;
  overflow: visible;
}

.beat-container.thin > div {
  height: 10px;
  margin-bottom: 20px;
}

.beat-container.thin .beat {
  height: 10px;
  color: transparent;
}

.actualBeatBar .beat {
  color: transparent;
}
