// @import "../../node_modules/bootstrap/less/bootstrap.less";
@import (less) "../../node_modules/chartist/dist/chartist.min.css";
@import (less) "../../node_modules/flexboxgrid/dist/flexboxgrid.min.css";
@import (less) "./slider.css";
@import (less) "./checkbox.css";
@import (less) "./chartist_modifications.less";
@import (less) "./beat_visualization.less";

@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400);

/* index.less */

body {
  font-family: "Droid Sans", sans-serif;
}

.too-small {

  margin-bottom: 25px;
  div {
    padding: 10px;
  }
  font-size: 14px;
  background: white;

  @media screen and (min-width: 980px) {
    display: none !important;
  }
}

.trainer {
  @media screen and (max-width: 980px) {
    display: none !important;
  }
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
}

.jumbotron > h1 {
  /*Kozuka Gothic ...*/
  text-align: center;
  font-family: 'Poiret One', sans-serif;
  font-size: 70pt;
  font-weight: 100;
  color: white;
  font-variant: small-caps;
}


#image-background {
  min-height: 100%;
  min-width: 1600px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#github {
  position: absolute;
  top: 10px;
  right: 10px;
}


h1 {
  font-size: 50*2px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.settings {
  .box-shadow;
  margin-bottom: 3rem;
  background: white;
  padding: 20px;
  color: #777777;
  width: 100%;
}

.stat-detail i {
  margin-right: 5px;
}

#graph-stats {
  .box-shadow;
  background: white;
  padding: 20px;
}

.content-box {
  .box-shadow;
  background: white;
}
.game-container {
  padding: 50px 50px 20px 50px;
  margin-bottom: 3rem;
  // max-width: 620px;
}
.message-container {
  padding: 5px;
}

.second-column {
  margin-left: 3rem;
}

.modeNavItem:first-child {
  margin-right: 5px;
}

.modeNavItem a {
  transition: all 0.5s ease;
}

li.modeNavItem a, li.modeNavItem a:focus {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

li.modeNavItem.active a:focus, li.modeNavItem.active a {
  background-color: white;
  border: 1px solid white;
  color: black;
  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.transition {
  transition:
    max-height 0.4s ease,
    height 0.4s ease,
    margin 0.4s ease,
    opacity 0.75s ease;
  opacity: 1;
  overflow: hidden;
}

.welcomeText, .feedbackText, .metronomeBeat, .gameButtonBar {
  max-height: 300px;
}

.heightOut {
  max-height: 0px;
  margin: 0px;
}

.opacityOut {
  opacity: 0;
}

.message {
  text-align: center;
  padding-left: 0px;
  padding-top: 0px;
}

.hr_gradient {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.0)), color-stop(50%, white));
}

.inlineBlock {
  display: inline-block;
}

// workaround for https://github.com/kristoferjoseph/flexboxgrid/issues/144
.row {
  width: 99%;
}
